.breadcrumb {
  display: flex;
  flex: 1;
  align-items: center;

  width: 100vw;
  height: 3.5rem;

  padding: 8px;

  box-sizing: border-box;

  .light-medium;

  background: @light-gray;

  border-bottom: 1px solid @dark-transparent;

  i {
    margin: 0 2px;
  }

  span.history {
    color: @overlay;
  }
}
