.breadcrumb {
  display: flex;
  flex: 1;
  align-items: center;

  width: 100vw;
  height: 4.5rem;

  overflow-x: auto;

  box-sizing: border-box;

  .light-medium;

  padding-right: 8px;

  background: @light-gray;

  border-bottom: 1px solid @dark-transparent;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  div {
    display: flex;

    align-items: center;
  }

  span {
    position: relative;

    display: flex;
    align-items: center;

    height: 4.5rem;

    white-space: nowrap;

    padding: 0 5px 0 30px;
    background: @gray;

    filter: drop-shadow(1px 0 0 @dark-transparent);

    &:first-of-type {
      padding-left: 10px;
    }

    &::after {
      position: absolute;
      right: -46px;
      top: 0;

      content: '';

      display: block;

      border: 23px solid transparent;
      border-left-color: @gray;
    }
  }

  span.history {
    color: @overlay;
  }
}
