header {
  display: flex;
  flex: 1;

  flex-flow: row;
  align-items: center;

  width: 100%;
  height: 5rem;

  background: @dark;
  color: white;

  .shadow;

  h1 {
    margin-left: -3rem;

    flex: 1;
  }

  i {
    margin-right: 16px;
  }

  button {
    background: none;
    border: none;

    width: 8rem;
    height: 3rem;
    padding-top: 1rem;
    margin-top: -1rem;

    &::before {
      content: '';
      display: block;

      width: 2rem;
      height: 4px;

      margin-top: -9px;

      border-radius: 4px;

      background: @overlay;

      box-shadow: 0 7px 0 @overlay,
                  0 14px 0 @overlay;
    }
  }
}
